
h1, h2, h3, h4, h5{
	color:#4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

section {
	width:100%;
  margin: 40px 0;
	padding: 0 5%;
}

.section-heading {
	text-transform: uppercase;
  font-size: 1.6em;
}

hr {
	max-width:300px;
}