
h1, h2, h3, h4, h5{
	color:#4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

section {
	width:100%;
  margin: 40px 0;
	padding: 0 5%;
}

.section-heading {
	text-transform: uppercase;
  font-size: 1.6em;
}

hr {
	max-width:300px;
}


.navbar.navbar-default {
	background: none;
	border: none; 
  z-index: 1;
}


.navbar-default .navbar-text {
	color:white;
}


.row-header {
  padding: 10vh 10vw 0 10vw;
  background-image: url('../img/dublin.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom:100px;
  display: flex;
  align-items: center
}

.header-col {
	position: relative;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
  bottom: -60px;
  padding: 30px 0;
  max-width:400px;
  margin:auto;
}

.profile-pic {
	border-radius:50%;
	width:40%;
	max-width: 200px;
}

.header-col h2 {
	font-size: 1.3em;
  margin-bottom: 20px;
  margin-top: 0;
}

.email {
  margin-top:20px;
}

.email .glyphicon {
	margin-right:5px;
}
